<!--
  Generated template for the Community page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar transparent>
    <ion-title>Create new community</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content class="ion-padding">

  <div class="container new-community">

    <form [formGroup]="communityForm" novalidate (ngSubmit)="saveCommunity(communityForm.value, communityForm.valid)">
      <ion-item no-lines>
        
        <div class="community-text-blurb">
          Super Exciting!.. Lets make magic
        </div>
      </ion-item>
      <ion-item>
        <ion-input type="text" maxlength="20" placeholder="Name of you Community?" formControlName="name" [class.invalid]="!communityForm.controls.name.valid && (communityForm.controls.name.dirty || submitted)"></ion-input>
      </ion-item>
      <ion-item *ngIf="!communityForm.controls.name.valid  && (communityForm.controls.name.valid || submitted)">
        <small class="error-class">Please enter a name for your new Community</small>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="What will it about?" formControlName="description" [class.invalid]="!communityForm.controls.description.valid && (communityForm.controls.description.dirty || submitted)"></ion-input>
      </ion-item>
      <ion-item *ngIf="!communityForm.controls.description.valid  && (communityForm.controls.description.valid || submitted)">
        <small class="error-class">Please enter a Description</small>
      </ion-item>
      <ion-item>
        <div class="community-image-upload" no-lines>
          <app-local-gallery-upload-community UpdateIconImageOnUpload="true" (OnFileSaved)="mediaSelectedForPosting($event)" Type="Community" UploadedImage="22"></app-local-gallery-upload-community>
          <div *ngIf="uploaded">Image Uploaded!</div>
        </div>
      </ion-item>

     <ion-item no-lines>
        <div class="community-location2">
         <div class="pull-left zip-postal-text">

          <div class="md-form">
            <div class="input-group input-group-lg" *ngIf="location== null">              
              <input type="text" class="form-control" placeholder="Zip or Postal" aria-describedby="sizing-addon1" formControlName="zip_postal">
              <ion-icon name="person" color="primary" slot="end"></ion-icon>
            </div>
          </div>

          </div>
            <div *ngIf="gotLocationEntry" class="pull-left community-location-text">
              <label >Thank you - Location Selected &nbsp;</label><i class="fa fa-thumb-tack" aria-hidden="true"></i>              
            </div>
          

          <div class="pull-right community-locate-me">
            <button type="button" class="btn btn-success" (click)="locateMe()"><i class="fa fa-compass fa-2x" aria-hidden="true"></i><span class="community-locate-text">Locate Me</span></button>
          </div>
        </div>
      </ion-item>
      <ion-item *ngIf="(!gotLocationEntry  && submitted)">
        <small class="error-class">Please click "Locate Me" or enter a Zip/Postal Code</small>
      </ion-item>

      <br>
      <br>

      <div>
        <button ion-button block type="submit" color="primary">
          <span  >Continue ></span>
        </button>
      </div>

    </form>
  </div>
</ion-content>