.md-new-comment i{
    font-size: 30pt;
    width:100%;
    color: #f2565a;  
}

.md-new-comment{
    margin: auto;
}

.fileUpload .btn-outline-info{
    color: #e7f0e5;
    border-color: #e7f0e5;
}

.fileUpload ion-icon{
    color: #f2565a;
    font-size: 64px;
}

.fileUploadImage{
    width: 50%;
    height: auto;
    border-radius: 10x;
    float: right;
}


.item-inline{
    padding: 30px 15px 40px 15px;
    display: inline-block;
}