<ion-header>

  <ion-toolbar>
      <ion-buttons slot="start">
       
        <ion-button (click)="closeModal()"> 
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
       
      </ion-buttons>
      <ion-title>Forget Password</ion-title>
    </ion-toolbar>



</ion-header>
<ion-content padding>

    <div class="containerForgetPassword text-center container">
      <a href="#"><img src="assets/images/login/logo.png" alt="logo"></a>

      <ion-item>
        <ion-label color="primary" stacked>Email</ion-label>
        <ion-input 
        type="email" 
        placeholder="What was the email you registered?"
        [(ngModel)]="email"
         ></ion-input>
      </ion-item>


      <ion-button ion-button block class="btn-login" shape="block" (click)="sendForgetPassEmail()">Send My Password</ion-button>

    </div>

</ion-content>