<div class="post_like" *ngIf="FeedType=='Story'">

<ul>

    <li>
        <ion-button fill="clear" (click)="setLike(StoryID)">
            
            <span class="action-button">{{LikeCount}}</span><fa-icon icon="thumbs-up" slot="end" pull="right" > </fa-icon>
            
          </ion-button>      
    </li>
    <li>

      <ion-button fill="clear" (click)="viewComments(StoryID)">
        <span class="action-button">{{CommentCount}}</span>
        <fa-icon icon="comments" slot="end" pull="right" > </fa-icon>
      </ion-button>


    </li>
    <li>
      <ion-button fill="clear" (click)="presentPopover($event)">
        <fa-icon icon="share-alt" slot="end" pull="right" > </fa-icon>
        
      </ion-button>
    </li>
  </ul>

</div>
<div class="post_like" *ngIf="FeedType=='Event'">
  <ul>
    <li>
      <button type="button" class="btn btn-link fa fa-share-square-o" (click)="presentPopover($event)">Share</button>
    </li>
  </ul>

</div>