<ion-card>
  <ion-item color="dark">
    <img src="{{ImageURL}}" alt="" class="image-object img-no-border" slot="start" (click)="navigate()">
    <ion-label (click)="navigate()">{{HeaderText}}</ion-label>
    <div class="communityListItem-buttons">
      <div *ngIf="Member == 'false'">
        <button class="btn btn-success" (click)="joinCommunity()">Join</button>
      </div>
      <div *ngIf="Member == 'true'">
        <button class="btn btn-warning" (click)="leaveCommunity()">Remove</button>
      </div>
    </div>
  </ion-item>

  <ion-card-content>
    {{UserCount}} Members -- {{BodyText}}
  </ion-card-content>
</ion-card>

<!--
<div class="cardContainer communityList">
  <img src="{{ImageURL}}" alt="" class="image-object img-no-border" slot="start" (click)="navigate()">
  <ion-label>ion-item in a card, icon left, button right</ion-label> 
    <div (click)="navigate()">
      <div class="message-text_Communities text-botom"><strong>{{HeaderText}}</strong>
        <div *ngIf="UserCount > 0">{{UserCount}} Members</div>
      </div>
    </div>    
    <div class="communityListItem-buttons">
      <div *ngIf="Member == 'false'">
        <button class="btn btn-success" (click)="joinCommunity()">Join</button>
      </div>
      <div *ngIf="Member == 'true'">
        <button class="btn btn-warning" (click)="leaveCommunity()">Remove</button>
      </div>
    </div>
</div>
-->