<ion-content>
  <div id="login_page" class="container">
    <div class="container text-center">
      <div class="login-red-background">
        <div class="login-button-container">
          <a href="#">
            <img id="logoLogin" src="../../assets/images/login/logo.png" alt="logo">
          </a>




          <div class="soical_login">

            <a  (click)="facebookLogin()">
              <!--<img id="facebookIcon" src="assets/images/login/FacebookIcon2.png" alt="FB">-->

              <div class="social-login-icons">
                <ion-icon ios="logo-facebook" md="logo-facebook"></ion-icon>
                Faceboook
              </div>

            </a>

            <a class="google_plus" (click)="googleLogin2()">
              <div class="social-login-icons">
                <ion-icon name="logo-googleplus"></ion-icon>
                Google
              </div>
            </a>
          </div>
          <h2>
            <span id="spnOR">OR</span>
          </h2>

          <div class="login_form">
            <input class="btn btn-info" type="submit" value="Login/Register" (click)="loginClicked()">
          </div>
        </div>
      </div>

    </div>
  </div>
</ion-content>