.image-object {
  //border: 1px solid #ffffff;
  //border-radius: 50%;
  height: 50px;
  margin: 1px;
  width: 50px;
  border: 1px dashed #ffffff;
  border-radius: 50%;    
}

.cardContainer{
color: white;
font-weight: 100;
font-size: small;
}

item-native{
  padding-left: 0px;
}


