.sharingContainer span {
    color:#3b5998;
    cursor: pointer; 
    }
    
    .sharingContainer h4{
        color: #6699ff;
        padding: 10px 0 10px 0;
        padding-left: 20px;
    }
    
    .set-small-height{
        max-height: 100px;
    }
    