<!--<ion-menu side="start" menuId="first" content-id="main">
  <i class="fa fa-chevron-left" aria-hidden="true"></i>
  <br>
  <br>
  <br>
  <ion-content>
    -->
    
    <ion-list color="dark">

      <ion-item color="dark" (click)="launchUpdateLocation()">
        Update my location
      </ion-item>
      <ion-item (click)="SignOut()" color="dark">
        Sign Out
      </ion-item>
      
      <!--
      <ion-item>
        My Profile
      </ion-item>
      <ion-item (click)="launchUpdateLocation()">
        Update my home location
      </ion-item>
      <ion-item (click)="SubscribeTest()">
        Subscription Test
      </ion-item>


      <button ion-item>
        My Profile
      </button>

      <button ion-item menuClose (click)="launchUpdateLocation()"> Update my Location</button>

      <button ion-item menuClose (click)="SubscribeTest()"> Subscribe to 1338</button>
      -->
    </ion-list> <!--
  </ion-content>

 
</ion-menu>
-->